#heading {
    font-family: 'Goblin One', cursive;
    color:black;
    background-color: red;
    padding:10px;
}

#snap {
    position:relative;
    margin-top:25.1%;
    background-color: black;
    color:white;
    font-weight:bolder;
    height:50px;
    width:360px;
    margin-left:24px;  
}
canvas {
    animation-name: animation1 ;
    animation-duration: 7s; 
    animation-iteration-count: infinite;
}

@keyframes animation1 {
    from {box-shadow: 3px 3px 45px rgb(255, 0, 200) ;} 
    to {box-shadow: 3px 3px 45px rgb(47, 0, 255);}
}